body {
    font-family: sans-serif;
  }
  
  form {
    margin: 0 auto;
    width: 300px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
  }
  